.gif-viewer {
	padding: calc(1 * var(--spacing));
}

.gif_player {
	display: flex;
	padding: calc(var(--spacing) * 0.5);
	// display: inline-flex;
	img {
		margin: auto;
		border-radius: 8px;
	}
}
